# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
dir = '/content/drive/Shared drives/bds-final-project'

Mounted at /content/drive

## Reading in the data

In [ ]:
col_names = ['id', 'device_id', 'vehicle_type', 'trip_duration', 'trip_distance', 'start_time', 'end_time', 'modified_date', 'month', 'hour', 'day_of_week', 'district_start', 'district_end', 'year', 'tract_start', 'tract_end']
df = pd.read_csv(f'{dir}/raw-data/Shared_Micromobility_Vehicle_Trips.csv', names=col_names, skiprows=[0])
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,12,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                     id  ...    tract_end
0  1d4f113d-71b2-4213-9170-1644e048d4a1  ...  48453001100
1  05d3d08f-9960-48e3-82f6-79a375ee28b0  ...  48453000601
2  61a4992e-7dff-4142-8dd6-baa23acf561a  ...  48453001100
3  f1410b76-327b-479c-825e-45168034f390  ...  48453000604
4  61250373-bece-46c2-a7c6-fb91c53eeefe  ...  48453000601

[5 rows x 16 columns]

## Dropping Nulls and Unnessecary Columns

In [ ]:
df_clean = df.copy()

In [ ]:
print(df_clean.shape)

(9959867, 16)

In [ ]:
# Checking for null values
df_clean.isnull().sum()

id                  0
device_id           0
vehicle_type        0
trip_duration       0
trip_distance       0
start_time          0
end_time            0
modified_date       0
month               0
hour                0
day_of_week         0
district_start    134
district_end      134
year                0
tract_start       135
tract_end         135
dtype: int64

In [ ]:
# Replacing empty cells with np.NaN
cols = ['district_start', 'district_end', 'tract_start', 'tract_end']
df_clean[cols] = df_clean[cols].replace(['None','OUT_OF_BOUNDS'], np.nan)

In [ ]:
# Checking for null values after replace
df_clean.isnull().sum()

id                    0
device_id             0
vehicle_type          0
trip_duration         0
trip_distance         0
start_time            0
end_time              0
modified_date         0
month                 0
hour                  0
day_of_week           0
district_start      792
district_end       1171
year                  0
tract_start       41496
tract_end         31723
dtype: int64

In [ ]:
# Dropping null values
df_clean = df_clean.dropna(axis=0, how='any')
df_clean.isnull().sum()

id                0
device_id         0
vehicle_type      0
trip_duration     0
trip_distance     0
start_time        0
end_time          0
modified_date     0
month             0
hour              0
day_of_week       0
district_start    0
district_end      0
year              0
tract_start       0
tract_end         0
dtype: int64

In [ ]:
# Applying numeric type to cleaned columns
df_clean[cols] = df_clean[cols].apply(pd.to_numeric)

In [ ]:
# Dropping some unnessecary columns
df_clean.drop(['id', 'device_id', 'modified_date'], axis=1, inplace=True)

In [ ]:
# Checking dtypes of columns after cleaning null values
df_clean.dtypes

vehicle_type       object
trip_duration       int64
trip_distance     float64
start_time         object
end_time           object
month               int64
hour                int64
day_of_week         int64
district_start    float64
district_end      float64
year                int64
tract_start       float64
tract_end         float64
dtype: object

## Converting datetimes to unix timestamps

In [ ]:
df_clean.head()

  vehicle_type  trip_duration  trip_distance  ...  year   tract_start     tract_end
0      scooter            420          869.0  ...  2018  4.845300e+10  4.845300e+10
1      scooter            371         1037.0  ...  2018  4.845300e+10  4.845300e+10
2      scooter           1687         4491.0  ...  2018  4.845300e+10  4.845300e+10
3      scooter            524          633.0  ...  2018  4.845300e+10  4.845300e+10
4      scooter            322         1114.0  ...  2018  4.845300e+10  4.845300e+10

[5 rows x 13 columns]

In [ ]:
time_cols = ['start_time', 'end_time']
df_clean[time_cols] = df_clean[time_cols].apply(pd.to_datetime)

In [ ]:
df_clean[time_cols] = df_clean[time_cols].values.astype(np.int64) // pd.Timedelta(1, 's').value

In [ ]:
df_clean.head()

  vehicle_type  trip_duration  trip_distance  ...  year   tract_start     tract_end
0      scooter            420          869.0  ...  2018  4.845300e+10  4.845300e+10
1      scooter            371         1037.0  ...  2018  4.845300e+10  4.845300e+10
2      scooter           1687         4491.0  ...  2018  4.845300e+10  4.845300e+10
3      scooter            524          633.0  ...  2018  4.845300e+10  4.845300e+10
4      scooter            322         1114.0  ...  2018  4.845300e+10  4.845300e+10

[5 rows x 13 columns]

## One-hot encoding `vehicle_type`

In [ ]:
print(df_clean.vehicle_type.nunique())
df_clean.vehicle_type.value_counts()

3

scooter    9363696
bicycle     451151
moped        87413
Name: vehicle_type, dtype: int64

In [ ]:
dummies = pd.get_dummies(df_clean.vehicle_type, prefix='vehicle_type')
df_clean = df_clean.drop('vehicle_type', axis=1)
df_clean = df_clean.join(dummies)
df_clean.head()

   trip_duration  trip_distance  ...  vehicle_type_moped  vehicle_type_scooter
0            420          869.0  ...                   0                     1
1            371         1037.0  ...                   0                     1
2           1687         4491.0  ...                   0                     1
3            524          633.0  ...                   0                     1
4            322         1114.0  ...                   0                     1

[5 rows x 15 columns]

In [ ]:
df_clean.shape

(9902260, 15)

In [ ]:
df_clean.to_csv(f'{dir}/scooter_data_clean.csv')

In [ ]:
# Just making sure the clean .csv didn't get messed up
df_test = pd.read_csv(f'{dir}/scooter_data_clean.csv', index_col=0)
df_test.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   trip_duration  trip_distance  ...  vehicle_type_moped  vehicle_type_scooter
0            420          869.0  ...                   0                     1
1            371         1037.0  ...                   0                     1
2           1687         4491.0  ...                   0                     1
3            524          633.0  ...                   0                     1
4            322         1114.0  ...                   0                     1

[5 rows x 15 columns]

# Grouping by day

In [ ]:
df_grp = pd.read_csv(f'{dir}/scooter_data_clean.csv', index_col=0)
df_grp.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   trip_duration  trip_distance  ...  vehicle_type_moped  vehicle_type_scooter
0            420          869.0  ...                   0                     1
1            371         1037.0  ...                   0                     1
2           1687         4491.0  ...                   0                     1
3            524          633.0  ...                   0                     1
4            322         1114.0  ...                   0                     1

[5 rows x 15 columns]

In [ ]:
df_grp['date'] = pd.to_datetime(df_grp.start_time, unit='s')

In [ ]:
df_grp = df_grp.groupby([df_grp['date'].dt.date, df_grp['day_of_week']]).agg({
    'trip_duration': 'mean',
    'trip_distance': 'mean',
    'vehicle_type_bicycle': 'sum',
    'vehicle_type_moped': 'sum',
    'vehicle_type_scooter': 'sum',
})

In [ ]:
df_grp = df_grp.rename({
    'trip_duration': 'avg_trip_duration',
    'trip_distance': 'avg_trip_distance',
    'vehicle_type_bicycle': 'num_bicycle_trips',
    'vehicle_type_moped': 'num_moped_trips',
    'vehicle_type_scooter': 'num_scooter_trips'
}, axis=1)

In [ ]:
df_grp.head()

                        avg_trip_duration  ...  num_scooter_trips
date       day_of_week                     ...
2018-04-03 2                   943.000000  ...                  1
2018-04-04 3                  1360.333333  ...                  3
2018-04-05 4                  1198.633929  ...                112
2018-04-06 5                  1118.914530  ...                351
2018-04-07 6                   970.707207  ...                222

[5 rows x 5 columns]

In [ ]:
df_grp = df_grp.reset_index()

In [ ]:
df_grp.head()

         date  day_of_week  ...  num_moped_trips  num_scooter_trips
0  2018-04-03            2  ...                0                  1
1  2018-04-04            3  ...                0                  3
2  2018-04-05            4  ...                0                112
3  2018-04-06            5  ...                0                351
4  2018-04-07            6  ...                0                222

[5 rows x 7 columns]

In [ ]:
df_grp.to_csv(f'{dir}/mobility_data_by_day.csv')

## Weather Data

In [ ]:
df_weather = pd.read_csv(f'{dir}/raw-data/Austin_WeatherData_2018-20.csv')
df_weather.head()

       Date  Max_Temperature_F  ...  Min_Pressure_Hg  Precipitation_inches
0  4/1/2018                 82  ...             29.3                   0.0
1  4/2/2018                 85  ...             29.1                   0.0
2  4/3/2018                 80  ...             29.1                   0.0
3  4/4/2018                 70  ...             29.5                   0.0
4  4/5/2018                 78  ...             29.3                   0.0

[5 rows x 17 columns]

In [ ]:
df_weather.describe()

       Max_Temperature_F  ...  Precipitation_inches
count         963.000000  ...            963.000000
mean           82.448598  ...              0.092866
std            14.433308  ...              0.353963
min            39.000000  ...              0.000000
25%            73.000000  ...              0.000000
50%            85.000000  ...              0.000000
75%            95.000000  ...              0.000000
max           109.000000  ...              3.950000

[8 rows x 16 columns]

In [ ]:
df_weather.shape

(963, 17)

In [ ]:
df_weather.isna().sum()

Date                    0
Max_Temperature_F       0
Avg_Temperature_F       0
Min_Temperature_F       0
Max_DewPoint_F          0
Avg_DewPoint_F          0
Min_DewPoint_F          0
Max_Humidity_%          0
Avg_Humidity_%          0
Min_Humidity_%          0
Max_WindSpeed_mph       0
Avg_WindSpeed_mph       0
Min_WindSpeed_mph       0
Max_Pressure_Hg         0
Avg_Pressure_Hg         0
Min_Pressure_Hg         0
Precipitation_inches    0
dtype: int64

In [ ]:
df_weather.dtypes

Date                     object
Max_Temperature_F         int64
Avg_Temperature_F       float64
Min_Temperature_F         int64
Max_DewPoint_F            int64
Avg_DewPoint_F          float64
Min_DewPoint_F            int64
Max_Humidity_%            int64
Avg_Humidity_%          float64
Min_Humidity_%            int64
Max_WindSpeed_mph         int64
Avg_WindSpeed_mph       float64
Min_WindSpeed_mph         int64
Max_Pressure_Hg         float64
Avg_Pressure_Hg         float64
Min_Pressure_Hg         float64
Precipitation_inches    float64
dtype: object

In [ ]:
df_mobility = pd.read_csv(f'{dir}/mobility_data_by_day.csv', index_col=0)
print(df_mobility.shape)
df_mobility.head()

(1452, 7)

         date  day_of_week  ...  num_moped_trips  num_scooter_trips
0  2018-04-03            2  ...                0                  1
1  2018-04-04            3  ...                0                  3
2  2018-04-05            4  ...                0                112
3  2018-04-06            5  ...                0                351
4  2018-04-07            6  ...                0                222

[5 rows x 7 columns]

In [ ]:
# Convert both date columns to datetimes for easy comparison
df_weather.Date = df_weather.Date.apply(pd.to_datetime)
df_mobility.date = df_mobility.date.apply(pd.to_datetime)

In [ ]:
df_weather = df_weather.rename({'Date': 'date'}, axis=1)
merged = pd.merge(df_mobility, df_weather, how='inner', on='date')

In [ ]:
merged

           date  day_of_week  ...  Min_Pressure_Hg  Precipitation_inches
0    2018-04-03            2  ...             29.1                  0.00
1    2018-04-04            3  ...             29.5                  0.00
2    2018-04-05            4  ...             29.3                  0.00
3    2018-04-06            5  ...             29.1                  0.00
4    2018-04-07            6  ...             29.2                  0.31
...         ...          ...  ...              ...                   ...
1445 2020-11-14            5  ...             29.2                  0.00
1446 2020-11-14            6  ...             29.2                  0.00
1447 2020-11-15            0  ...             29.4                  0.00
1448 2020-11-15            6  ...             29.4                  0.00
1449 2020-11-16            0  ...             29.7                  0.00

[1450 rows x 23 columns]

In [ ]:
merged.to_csv(f'{dir}/merged_data.csv')

In [4]:
df = pd.read_csv(f'{dir}/merged_data.csv', index_col=0)
df.head()

         date  day_of_week  ...  Min_Pressure_Hg  Precipitation_inches
0  2018-04-03            2  ...             29.1                  0.00
1  2018-04-04            3  ...             29.5                  0.00
2  2018-04-05            4  ...             29.3                  0.00
3  2018-04-06            5  ...             29.1                  0.00
4  2018-04-07            6  ...             29.2                  0.31

[5 rows x 23 columns]

In [7]:
df.date.min(), df.date.max()

('2018-04-03', '2020-11-16')

In [8]:
df.shape

(1450, 23)